In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\Lenovo\\UpGrad_course_python\\panda\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## For reading data from dictionary for dataframe

In [7]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017', '1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain','Sunny', 'Snow', 'Snow', 'Rain','Sunny']
}
df1 = pd.DataFrame(weather_data)
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## `shape`

In [11]:
## Shape
df.shape
rows, columns = df.shape
print(rows)
print(columns)

6
4

In [13]:
# Prining few rows
df.head()

## printing 2 rows
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [14]:
## Getting last record
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [15]:
# slicing
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [16]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
# print columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
# print individual column values
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [19]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [25]:
# accessing property not present
# df['state', 'NA'] # ERROR
# df.state # ERROR

In [26]:
# type
type(df['event']) # pandas.core.series.Series

pandas.core.series.Series

In [28]:
# print only few columns
df3 = df[['event', 'day']]
df3

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

## Operation on df

In [38]:
# Max temperature
print(df['temperature'].max())

# Min temp.
print(df['temperature'].min())

# mean
print(df['temperature'].mean())

# std
print(df['temperature'].std())

35
24
30.333333333333332
3.8297084310253524

In [41]:
df.describe() # getting a set of calculations for numeric fields

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000