In [7]:
l = [1,2,3,4,5,6,7,8,9]
k = 3

for i in range(0, len(l), k):
    val = l[i: i+k]
    print(val)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3, 4, 5]

In [23]:
letter = 'ccwd'
word = 'crossword'

updated_word = word
match = 'true'

for i in letter:
    try:
        let_ind = updated_word.index(i)
        updated_word = updated_word[let_ind+1:]
    except:
        print('no')
        match = 'false'
        break

if match == 'true':
    print('yes')

no

In [26]:
dateStart = [2017,1,1]
dateEnd = [2017,3,4]

count = 0
y1 = dateStart[0]
m1 = dateStart[1]
d1 = dateStart[2]

y2 = dateEnd[0]
m2 = dateEnd[1]
d2 = dateEnd[2]

if y1 > y2:
    raise Error("first date after second")
elif y1 == y2:
    if m1 == m2:
        count = 0
    elif m2 > m1:
        count = m2 - m1
    else:
        raise Error("first date after second")
else:
    count = (12 + m2) - m1
    if count > 12:
        raise Error("more than 12 month difference")
    
count += 1  # inclusive of the same month

import datetime
from dateutil.rrule import rrule, MONTHLY

date_start = datetime.date(y1, m1, 1)
months = [dt.strftime("%B") for dt in rrule(MONTHLY, dtstart=date_start, count=count)]


months_sorted = sorted(months, key=lambda m: dt.strptime(m, "%B"))
print(months_sorted)

['January', 'February', 'March']

In [24]:
input_list = [[1,2,3],[],[4,5],[],[],[6,7,8]]
new_list = []

for i in input_list:
    if(len(i) != 0):
        new_list.append(i)
        
print(new_list)

[[1, 2, 3], [4, 5], [6, 7, 8]]

In [ ]:
import datetime
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
dateStart=datetime.date(input_list[0],input_list[1],input_list[2])
dateEnd=datetime.date(input_list[3],input_list[4],input_list[5])
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
ans = set()
while dateStart <= dateEnd:
	ans.add(dateStart.month)
	dateStart += datetime.timedelta(1)
print([months[x-1] for x in sorted(ans)])