In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Delhi+Delights+Data.csv')
df.head()

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,Yes
1,2.5,11,No
2,2.5,11,No
3,3.5,11,No
4,3.5,11,No