In [1]:
def hurray():
    print('Enjoy Python')
    
hurray()

Enjoy Python

# No define number of arguments

In [4]:
def sum_of_nums(*num):
    print(num)
    print(len(num))
    for item in num:
        print(item)
    
sum_of_nums(3,7)
sum_of_nums(3,7,55,87,12,5)

(3, 7)
2
3
7
(3, 7, 55, 87, 12, 5)
6
3
7
55
87
12
5

In [8]:
def properText(phrase):
    parsedPhrase = (phrase.strip()).split()
    list2 = " ".join([i[0].upper() + i[1:] for i in parsedPhrase])
    return list2
    
    
newText = properText('python is easy')
print(newText)

Python Is Easy

# Lamda Expression

## function_name  = lambda <space>  input_parameters  :  output_parameters

Eg: join_by_comma = lambda x : ','.join(x)

In [9]:
num_multiply = lambda x,y: x*y
print(num_multiply(4,8))

32

In [10]:
greater = lambda x,y: x if x>y else y
print(greater(4,8))

8

# MAP
## it takes 2 parameters 
    > 1st param - function
    > 2nd param - list of items to iterate

In [15]:
input_list = [2,8,6]
new_map = map(lambda x: x**3, input_list)
print(new_map)
print()
new_list = list(new_map);
print(new_list)

<map object at 0x0000024AFE24DCA0>

[8, 512, 216]

In [43]:
ip = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']

new_map = list(map(lambda word:word[0] == 'S', ip)).count(True)
print(new_map)

3

# Filter
### apply a rule on the element and generate a True/False & generate a subset of list/tuple/dict
### 2 params 
    > lambda function
    > item list

In [45]:
# Filter
my_list = range(3,30)
divideBy3 = lambda x: x % 3 ==0
div = list(filter(divideBy3, my_list))
print(div)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

# Reduce
## its not a built in function of python
### aggregate operation on iterable values
`x represent the current aggregate value , y represent the next element`

In [47]:
from functools import reduce
list_a = range(5, 15, 2) # [5,7,9,11,13]
q = reduce(lambda x,y : x+y, list_a)
# 1st iteration - x=5,             y=7, sum value = 12
# 2nd iteration - x= sum value 12, y=9, sum value = 21
# 3rd iteration - x=21, y=11, sum = 32
# 4th itearyion - x=32, y= 13, sum = 45
print(q)

45

In [48]:
num_list = [22,45,32,20, 87, 94, 30]
result = reduce(lambda x,y : x if x>y else y, num_list)
print(result)

# it compares the 1st and 2nd value
# if 1st value > 2nd return 1st value or else return 2nd
# x value gets updated with the return value
# again it comapres the resultant value with the next iterable value

94

## !!! Questions !!!

In [ ]:
# Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

input_list = ['soap','sharp','shy','silent','ship','summer','sheep']

sp = list(filter(lambda word: word[0]=='s' and word[-1]=='p', input_list))#Write your code here

print(sp)

In [56]:
# Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
# If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

input_list = ['All','you','have','to','fear','is','fear','itself']

from functools import reduce

#write your code here.
result = reduce(lambda l, nextl: l+' ' +nextl , input_list)

print(result)

All you have to fear is fear itself

In [ ]:
# You are given a list of numbers such as input_list = [31, 63, 76, 89]. 
# Find and print the largest number in input_list using the reduce() function.

input_list = [65,76,87,23,12,90,99]
from functools import reduce

answer =reduce(lambda x,y : x if x> y else y, input_list) #Type your answer here.

print(answer)

In [57]:
list = [1,2,3]
print(list *2)

[1, 2, 3, 1, 2, 3]

In [86]:
n= 0
result = 1 if n ==0 else reduce(lambda x,y: x*y if x > 0 and y > 0 else 1, range(n+1) )
print(result)

1

In [87]:
b = [1,4,8,9,9]
print(set(b))

{8, 1, 4, 9}

In [95]:
## sets

set_a = set([2, 5, 9, 12, 13, 15, 16, 17, 18, 19])
print(set_a)
set_b = set([2, 4, 5, 6, 7, 9, 13, 16])
print(set_b)
set_c= set([1, 2, 5, 9, 10, 11, 12, 13, 15])
print(set_c)

{2, 5, 9, 12, 13, 15, 16, 17, 18, 19}
{2, 4, 5, 6, 7, 9, 13, 16}
{1, 2, 5, 9, 10, 11, 12, 13, 15}

In [90]:
temp_set = (set_a.intersection(set_b)).intersection(set_c)
print(temp_set)

{9, 2, 13, 5}

In [92]:
both_a_b = (set_a.intersection(set_b))

print(both_a_b)
both_a_b_notC = both_a_b.difference(set_c)
print(both_a_b_notC)

{2, 5, 9, 13, 16}
{16}

In [96]:
ff = set_c.difference(both_a_b)
print(ff)

{1, 10, 11, 12, 15}

In [97]:
c = set(range(1,21))
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}