In [1]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv("Iris.csv")

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
df=df.drop("Id",axis=1)

In [14]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
df["Species"].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [16]:
df["Species"]=df["Species"].map({"Iris-setosa":0,"Iris-virginica":1,"Iris-versicolor":2})

In [17]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [18]:
df["Species"].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [19]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [20]:
X=df.drop("Species",axis=1)
y=df["Species"]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [33]:
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier

In [28]:
abc=AdaBoostClassifier(n_estimators=10,random_state=10)
model1=abc.fit(X_train,y_train)

In [30]:
y_train_pred=model1.predict(X_train)
y_test_pred=model1.predict(X_test)

In [32]:
#import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score


# calculate and print model accuracy
print("AdaBoost Classifier Model Train Accuracy:", accuracy_score(y_train, y_train_pred))
print("AdaBoost Classifier Model Test Accuracy:", accuracy_score(y_test, y_test_pred))

AdaBoost Classifier Model Train Accuracy: 0.9523809523809523
AdaBoost Classifier Model Test Accuracy: 0.9777777777777777

In [34]:
gbc=GradientBoostingClassifier(n_estimators=10,learning_rate=0.1,random_state=10)
model1=gbc.fit(X_train,y_train)

In [35]:
y_train_pred=model1.predict(X_train)
y_test_pred=model1.predict(X_test)
print("AdaBoost Classifier Model Train Accuracy:", accuracy_score(y_train, y_train_pred))
print("AdaBoost Classifier Model Test Accuracy:", accuracy_score(y_test, y_test_pred))

AdaBoost Classifier Model Train Accuracy: 1.0
AdaBoost Classifier Model Test Accuracy: 0.9777777777777777

In [36]:
from sklearn.model_selection import GridSearchCV

In [42]:
model = GradientBoostingClassifier()

# define the grid of values to search
grid = dict()
grid['n_estimators'] = range(10,1000,50)
grid['learning_rate'] = [0.0001, 0.001, 0.01, 0.1, 1.0]
grid['max_depth']=[2,3,4]
#100 combinations

In [ ]:
grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=5, 
                           scoring='accuracy')

# execute the grid search
grid_result = grid_search.fit(X_train, y_train)

# summarize the best score and configuration
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

# summarize all scores that were evaluated
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))